## .NET
bin/
obj/
*.user
*.suo
*.cache
*.pidb
*.log
*.vs/
*.vscode/
*.swp
*.swo
.DS_Store
*.pdb
*.userprefs
*.lock.json
*[Cc]overage*
*.dotCover
*.coverage.xml
*.gcov
*.gcda
*.gcno
*.tmp
*.temp
*.cache
*.pidb
*.scc
*.vspscc
*.vssscc
build/
Build/
[bB]in/
[Oo]bj/
_ReSharper*/
packages/
*.nupkg
node_modules/
bower_components/